* {
    box-sizing: border-box;
}

body {
    background-color: #e0e0e0;
}
.container {
    /* background-color: #74858a; */
}
.wrapper {
  min-height: 100vh;
  width: 100%;
}
 
.wrapper .filter {
    width: 19%;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    padding: 0 10px;
}

.wrapper .content {
    width: 78%;
    display: inline-block;
    box-sizing: border-box;
    float: right;
    background-color: #fff;
}

.wrapper .content .parent {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

.wrapper .content .parent .row {
	display: inline-block;
    width: 25%;
    overflow: hidden;
    line-height: 20px;
}

.wrapper .content .parent .row .child-content {
    padding: 10px 25px;
    text-align: left;
    line-height: 15px;
    color: #000000;
}

.wrapper .content .parent .row .child-content .logo{
    width: 125px;
    height: 125px;
    background-color: #e0e0e0;
}

.wrapper .content .parent .row .child-content .line-1 {
    font-weight: bold;
    color: #4f3c94
}

.wrapper .content .parent .row .child-content .desc {
    font-weight: bold;
    color: #000000
}

.wrapper .content .parent .row .child-content .desc > ul > li {
    color: #445abb
}

.wrapper .content .parent .row .child-content .desc .desc-text {
    color: #445abb
}

.wrapper .filter .year-btn {
    height: 35px;
    width: 60px;
    background-color: #97f57d;
    border: 1px solid #97f57d;
    border-radius: 5px;
    margin: 5px;
}

.inline-block {
    display: inline-block;
}

.wrapper .filter .filter-title {
    text-align: left;
    font-weight: bold;
}

.wrapper .filter .filter-sub-title {
    text-align: center;
    text-decoration: underline;
}
.footer {
    text-align: center;
    float: none;
}

/* Mobile Screen */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
     
    .wrapper .filter {
        width: 100%;
    }

    .wrapper .content {
        width: 100%;
        float: none;
    }

    .wrapper .content .parent .row {
        width: 100%;
        overflow: hidden;
        line-height: 20px;
    }

    .wrapper .content .parent .row .child-content .logo {
        width: 100%;
        height: 100%;
    }
}

/* Tablet screen */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .wrapper .content .parent .row .child-content .logo {
        width: 100px;
        height: 100px;
    }
    .wrapper .content .parent .row .child-content {
        padding: 10px 15px;
    }
}
